---
import Layout from "../layouts/Layout.astro";
import i18n from "../i18n/config";
import { getLocalizedPath, type Language } from "../utils/language";

const lang = (Astro.currentLocale ?? "es") as Language;
i18n.changeLanguage(lang);
const t = i18n.getFixedT(lang);
---

<Layout title={t("404.title")}>
  <h1 class="text-2xl font-sans text-og normal-case">{t("404.title")}</h1>
  <p class="lowercase">
    {t("404.message")}{" "}
    <a href={getLocalizedPath("/", lang)} class="text-og underline">{t("404.backLink")}</a>
  </p>
</Layout>
