---
import i18n from "../i18n/config";
import {
  getLocalizedPath,
  getOppositeLanguagePath,
  type Language,
} from "../utils/language";

const lang = (Astro.currentLocale ?? "es") as Language;
const pathname = Astro.url.pathname;
const t = i18n.getFixedT(lang);
const oppositeLangPath = getOppositeLanguagePath(pathname, lang);
const switchLanguageText =
  lang === "es" ? t("switchToEnglish") : t("switchToSpanish");
---

<footer class="space-y-4 mt-8 p-4 border-t border-ui mx-auto max-w-lg">
  <div class="flex items-center gap-4">
    <img src="/logo.png" alt="indies.la" class="h-32 w-auto" />
    <div>
      <p class="lowercase">
        <span class="text-2xl font-sans normal-case block">
          {t("heading")}
        </span>
        {t("intro")}
      </p>
    </div>
  </div>
  <nav class="space-y-2 lowercase">
    <div>
      <a href={getLocalizedPath("/", lang)} class="text-og underline"
        >{t("footer.joinCommunity")}</a
      >
    </div>
    <div>
      <a href={getLocalizedPath("/conducta", lang)} class="text-og underline"
        >{t("footer.codeOfConduct")}</a
      >
    </div>
    <div>
      <a href={getLocalizedPath("/marca", lang)} class="text-og underline"
        >{t("footer.branding")}</a
      >
    </div>
    <div>
      <a href={oppositeLangPath} class="text-og underline"
        >{switchLanguageText}</a
      >
    </div>
  </nav>
</footer>
